{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h4>Cameras</h4>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Status</th>
                <th scope="col">Camera Name</th>
                <th scope="col">Mode</th>
                <th scope="col">Last Online</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for camera in cameras %}
              <tr>
                <td>{{camera.status | enum_to_string}}</td>
                <td>{{camera.name}}</td>
                <td>{{camera.mode | enum_to_string}}</td>
                <td>{{camera.last_heartbeat | timestamp_to_string}}</td>
                <td>
                    <a role="button" class="btn btn-primary" href="{{ url_for('myapp.make_primary', camera_id=camera.id) }}">Make Primary</a>
                    <button type="button" class="btn btn-primary">Delete</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="row justify-content-center">
        <button type="button" class="btn btn-primary">Add a camera</button>
    </div>
</div>

{% endblock %}