{% extends "base.html" %}
{% block content %}
<div class="container mb-3 mt-3">
    <div class="row justify-content-center">
        <h3>Events</h3>
    </div>
        <table class="table table-bordered table-striped events-table" style="width: 100%">
            <thead>
              <tr>
                <th>Camera</th>
                <th>Type</th>
                <th>Name</th>
                <th>Time</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              {% for event in events %}
              <tr>
                <td>{{event.camera_id | camera_name_from_id}}</td>
                <td>{{event.type | enum_to_string}}</td>
                <td>{{event.name}}</td>
                <td>{{event.timestamp | timestamp_to_string}}</td>
                <td>
                    <a role="button" class="btn btn-primary" href="{{ url_for('myapp.event_view' , event_id=event.id) }}">View Event</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>

            <tfoot>
              <tr>
                <th scope="col">Camera</th>
                <th scope="col">Type</th>
                <th scope="col">Name</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
              </tr>
            </tfoot>
          </table>
          <div class="d-flex justify-content-center mt-2">
            <ul class="pagination"></ul>
          </div>
</div>

<script>
  
  var table = $('.events-table').DataTable({
    searching: true, // enable search input
    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "All"]], // custom number of entries
    order: [[3, 'desc']]
  });

  $('.events-table tfoot th').each( function () {
    var title = $(this).text();
    $(this).html('<input type="text" placeholder="Search by '+title+'" />');
  });

  table.columns().every( function () {
    var that = this;
    $('input', this.footer() ).on('keyup change', function () {
      if ( that.search() !== this.value ) {
        that.search( this.value ).draw();
      }
    });
  })
</script>

{% endblock %}