{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h4>Camera #1 Active</h4>
            </div>
            <div class="row">
                <!-- 16:9 aspect ratio -->
                <div class="stream_container">
                    <img src="{{ url_for('video_feed') }}" class="stream" id = "camera_stream">
                </div>
                <!-- Script performs a cache break on the camera stream element every 50ms-->
                <script>let handle = setInterval( () => {
                                        document.getElementById("camera_stream").src = "/video_feed#" + Date.now()
                                        }, 100)</script>
            </div>
            <div class="row justify-content-center">
                <div class="col">Facial recognition</div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                </div>
                <div class="col">Fault detection</div>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary">Capture Image</button>
            </div>
        </div>
        <div class="col-4">
            <div class="row justify-content-center">
                <h4>Recent Notifications</h4>
            </div>
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>Motion Detected</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Cameras</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Image Captured</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Train</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Face Detected</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Train</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Fault Detected</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Train</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}
