{% extends "base.html" %}
{% block content %}
{% import "bootstrap/wtf.html" as wtf %}

<body>
  <div class="container">
  <div class="row justify-content-center">
    <h3>Upload a new reference image</h3>
  </div>

  <form class="form-uploadImage" method="POST" action ="/train" enctype="multipart/form-data">
    <div class="form-group">
      {{ form.hidden_tag() }}
      {{ wtf.form_field(form.file) }}
      
      <label for="personSelect2">Select a person</label>
      <select multiple class="form-control" id="personSelect2">
        <option>Bob</option>
        <option>Joe</option>
        <option>Kanye</option>
        <option>Elon</option>
        <option>Kaden</option>
        <option>Jacob</option>
        <option>Braden</option>
      </select>
      
      <label for="newPersonTextInput">Insert name of new person</label>
      <textarea class="form-control" id="newPersonTextInput" rows="1"></textarea>
      
      <p><button type="submit" class="btn btn-primary">Upload Training Data</button></p>
    </div>
  </form>
  {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
  {% endfor %}
  
  <!--
    <div class="container">
      <div class="input-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFileInput" aria-describedby="customFileInput">
          <label class="custom-file-label" for="customFileInput">Select file</label>
        </div>
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" id="customFileInput">Upload</button>
        </div>
      </div>
    </div>
    -->
  </div>
  </body>
{% endblock %}