{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h4>Recent Notifications</h4>
    </div>
    <div class="row">
        <table class="table table-bordered">
            <thead>
              <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Type</th>
                <th scope="col">Time</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for user in users %}
              <tr>
                <td>Camera #{{user.camera_id}}</td>
                <td>{{user.type}}</td>
                <td>{{user.timestamp}}</td>
                <td>
                    <button type="button" class="btn btn-primary">Go to Cameras</button>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
</div>

{% endblock %}