{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row">
                <h4>Camera #1 Active</h4>
            </div>
            <div class="row">
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col">Facial recognition</div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                </div>
                <div class="col">Fault detection</div>
            </div>
            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary">Capture Image</button>
            </div>
        </div>
        <div class="col-4">
            <div class="row justify-content-center">
                <h4>Recent Events</h4>
            </div>
            <table class="table table-striped">
                <tbody>
                    {% for event in events %}
                    <tr>
                      <td>{{event.type}}</td>
                      <td>
                          <button type="button" class="btn btn-primary">Go to Cameras</button>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}
