{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row justify-content-start">Camera #1 Active</div>
            <div class="row">
                <!-- 16:9 aspect ratio -->
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=dQw4w9WgXcQ"></iframe>
                </div>
            </div>
            <div class="row">
                <div class="col">Facial recognition</div>
                <div class="col">
                    <label class="switch">
                        <input type="checkbox">
                        <span class="slider round"></span>
                      </label>
                </div>
                <div class="col">Fault detection</div>
            </div>
            <div class="row ">
                <button type="button" class="btn btn-primary">Capture Image</button>
            </div>
        </div>
        <div class="col-4">
            <div class="row">Recent Notifications</div>
            <table class="table table-striped">
                <tbody>
                  <tr>
                    <th scope="row"></th>
                    <td>Motion Detected</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Cameras</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Image Captured</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Train</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Face Detected</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Train</button>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Fault Detected</td>
                    <td>
                        <button type="button" class="btn btn-primary">Go to Train</button>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>

{% endblock %}
